include variables.pug
doctype
html
    head
        meta(charset="UTF-8")
        title Videojuego
        link(rel="stylesheet", href="./assets/css/estilo.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap")
    body
        block contenidos